<h3>Here are the details of your brilliant idea:</h3>
<ul>

    <li>
      <h3><%= idea.title %>:</h3>
      <%= idea.description %>
      <h4>Tags:</h4>
      <ul>
      <% idea.tags.each do |tag| %>
        <li><a href="/<%= tag %>"><%= tag %></a></li>
      <% end %>
      </ul>
      <br/>
      <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
        <input type='submit' value="+"/>
      </form>

      <form action='/<%= idea.id %>/edit' method='GET' style="display: inline">
           <input type='submit' value='Make It Better' />
      </form>

      <form action='/<%= idea.id %>' method='POST' style="display: inline">
        <input type="hidden" name="_method" value="DELETE">
        <input type='submit' value="Nevermind. This Idea is Shit."/>
      </form>
    </li>
</ul>

<a href="/existing">All of Your Brilliant Ideas</a>
